/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |         |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL & ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |   '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |         |  N  |  M   |  ,  |  .  |  /  | RSE  |
            //                    | ALT | GUI | LWR |         | ENT | SPC  | KOR |

            bindings = <
&kp TAB                  &kp Q  &kp W  &kp E     &kp R      &kp T    &kp Y  &kp U      &kp I              &kp O    &kp P     &kp BSPC
&mt LEFT_CONTROL ESCAPE  &kp A  &kp S  &kp D     &kp F      &kp G    &kp H  &kp J      &kp K              &kp L    &kp SEMI  &kp SQT
&kp LEFT_ALT             &kp Z  &kp X  &kp C     &kp V      &kp B    &kp N  &kp M      &kp COMMA          &kp DOT  &kp FSLH  &kp ENTER
                                       &kp LGUI  &kp RSHFT  &mo 1    &mo 2  &kp SPACE  &mt RIGHT_GUI F13
            >;
        };

        layer_1 {
            bindings = <
&kp F12  &kp F1    &kp F2  &kp F3    &kp F4      &kp F5         &kp F6        &kp F7         &kp F8        &kp F9  &kp F10  &kp F11
&trans   &kp N1    &kp N2  &kp N3    &kp N4      &kp N5         &kp NUMBER_6  &kp N7         &kp N8        &kp N9  &kp N0   &trans
&trans   &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET     &kp AMPERSAND  &kp ASTERISK  &trans  &trans   &trans
                           &trans    &trans      &trans         &trans        &trans         &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &none       &kp TILDE  &kp PIPE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp UNDER   &kp MINUS          &kp PLUS      &kp EQUAL   &kp DELETE  &trans
&trans  &none       &kp GRAVE  &kp BSLH  &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp LEFT    &kp DOWN           &kp UP_ARROW  &kp RIGHT   &trans      &trans
&trans  &kp C_MUTE  &trans     &trans    &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp C_PREV  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp C_NEXT  &kp C_PLAY  &trans
                               &trans    &trans                &trans                   &trans      &trans             &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans        &trans        &trans        &trans        &trans
                        &trans  &trans  &trans    &trans      &trans        &trans
            >;
        };
    };
};
